@font-face {
  font-family: "Open Sans";
  font-style: normal;
  color: #363b41;
  font-weight: 400;
  src: url("../../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  font-style: bold;
  color: #363b41;
  font-weight: 900;
  src: url("../../assets/fonts/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Extra Bold";
  font-style: bold;
  color: #363b41;
  font-weight: 900;
  src: url("../../assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Open Sans Italic";
  font-style: italic;
  font-weight: 400;
  src: url("../../assets/fonts/Open_Sans/OpenSans-Italic.ttf");
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  .top-bar {
    background-color: #323b42;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width:1024px) {
      display: none;
    }
    p {
      font-family: "Open Sans";
      color: white;
      font-size: 17px;
      letter-spacing: 2.1px;
      margin: 12px 0;
      span {
        color: #91b456;
      }
      @media (max-width: 1360px) {
        font-size: 14px;
      }
    }
  }
  .menu-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fbfbfb;
    @media (max-width: 1024px) {
      display: none;
    }
    .logo-section {
      display: flex;
      flex-direction: row;
      &-logo {
        width: 315px;
        height: auto;
        @media (max-width: 1420px) {
          width: 250px;
        }
        @media (max-width: 1240px) {
          width: 200px;
        }
      }
      &-img {
        width: 80%;
        height: auto;
        background: transparent;
        margin: 45px 0 45px 30px;
        @media (max-width: 1600px) {
          margin: 35px 0 35px 30px;
        }
        @media (max-width: 1420px) {
          margin: 30px 0 30px 30px;
        }
        @media (max-width: 1240px) {
          margin: 20px 0 20px 20px;
        }
      }
      &-text {
        display: flex;
        font-family: "Open Sans Italic";
        font-size: 18px;
        color: #38393b;
        align-items: center;
        @media (max-width: 1600px) {
          font-size: 15px;
        }
        @media (max-width: 1420px) {
          font-size: 13px;
        }
        @media (max-width: 1240px) {
          font-size: 11px;
        }
      }
    }
    .btn-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .nav-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        a {
          color: #333a40;
          font-family: "Open Sans Bold";
          font-size: 18px;
          text-decoration: none;
          margin: 0 20px;
          @media (max-width: 1600px) {
            font-size: 16px;
            margin: 0 15px;
          }
          @media (max-width: 1420px) {
            font-size: 14px;
            margin: 0 13px;
          }
          @media (max-width: 1240px) {
            font-size: 12px;
            margin: 0 11px;
          }
        }
      }
      .btn-reserve-section {
        margin: 0 30px 0 20px;
        @media (max-width: 1240px) {
          margin: 0 10px 0 0;
        }
        .btn-reserve {
          width: 250px;
          height: 70px;
          font-family: "Open Sans";
          font-size: 19px;
          text-transform: uppercase;
          color: white;
          border-radius: 10px;
          letter-spacing: 1px;
          background-color: #96c930;
          outline: none;
          @media (max-width: 1600px) {
            width: 225px;
            height: 60px;
            font-size: 16px;
          }
          @media (max-width: 1420px) {
            width: 200px;
            height: 50px;
            font-size: 15px;
          }
          @media (max-width: 1240px) {
            width: 180px;
            height: 40px;
            font-size: 13px;
          }
        }
      }
    }
  }
  .carousel-indicators {
    display: none;
  }
  .slider-section {
    .slider-content {
      display: flex;
      height: auto;
      .slider-dot {
        width: 100%;
        height: 100%;
        opacity: 0.2;
        position: absolute;
        background: url('../../assets/images/dot.png');
      }
      .center-back {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 980px;
        height: 280px;
        background: #5f6267;
        opacity: .4;
        border-radius: 7px;
        @media (max-width:1440px) {
          width: 750px;
          height: 200px;
        }
        @media (max-width:1360px) {
          width: 630px;
          height: 180px;
        }
        @media (max-width:1024px) {
          width: 500px;
          height: 150px;
        }
        @media (max-width:768px) {
          width: 350px;
          height: 120px;
        }
        @media (max-width:576px) {
          width: 200px;
          height: 80px;
        }
        @media (max-width:420px) {
          width: 140px;
          height: 50px;
        }
      }
      .center-content {
        position: absolute;
        font-family: "Open Sans Extra Bold";
        font-size: 90px;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: white;
        left: calc(50% - 300px);
        top: 80px;
        @media (max-width:1440px) {
          font-size: 80px;
          left: calc(50% - 273px);
          top: 38px;
        }
        @media (max-width:1360px) {
          font-size: 70px;
          left: calc(50% - 243px);
          top: 38px;
        }
        @media (max-width:1024px) {
          font-size: 50px;
          left: calc(50% - 190px);
          top: 38px;
        }
        @media (max-width:768px) {
          font-size: 40px;
          left: calc(50% - 156px);
          top: 33px;
        }
        @media (max-width:576px) {
          font-size: 25px;
          left: calc(50% - 85px);
          top: 21px;
          letter-spacing: 3px;
        }
        @media (max-width:420px) {
          font-size: 21px;
          left: calc(50% - 60px);
          letter-spacing: 0px;
          top: 12px;
        }
      }
      .carousel-caption {
        padding: 0;
      }
      .caption-content {
        @media (max-width: 420px) {
          margin-bottom: -10px;
        }
        .green-line {
          width: 540px;
          margin: auto;
          height: 2px;
          background: #96c930;
          margin-bottom: 30px;
          @media (max-width:1440px) {
            width: 500px;
          }
          @media (max-width:1360px) {
            width: 435px;
            margin-bottom: 20px;
          }
          @media (max-width:1024px) {
            width: 340px;
            margin-bottom: 10px;
          }
          @media (max-width:768px) {
            width: 280px;
            margin-bottom: 5px;
          }
          @media (max-width:576px) {
            width: 150px;
            margin-bottom: 3px;
          }
        }
        .text-section {
          font-family: "Open Sans";
          font-size: 28px;
          letter-spacing: 4px;
          margin-bottom: 20px;
          @media (max-width:1440px) {
            font-size: 24px;
          }
          @media (max-width:1360px) {
            font-size: 20px;
            margin-bottom: 0px;
          }
          @media (max-width:1024px) {
            font-size: 14px;
          }
          @media (max-width:768px) {
            font-size: 12px;
            letter-spacing: 3px;
          }
          @media (max-width:576px) {
            font-size: 10px;
            letter-spacing: 0px;
          }
        }
      }
    }
  }
  .logo-desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (max-width: 1024px) {
      height: auto; 
    }
    &-logo {
      width: 315px;
      height: auto;
      margin: 35px 0;
      @media (max-width: 1360px) {
        margin: 30px 0;
      }
      @media (max-width: 1024px) {
        margin: 25px 0;
      }
      @media (max-width: 768px) {
        width: 250px;
        margin: 20px 0;
      }
    }
    &-img {
      width: 100%;
      height: 100%;
      background: transparent;
    }
    p {
      width: 85%;
      text-align: center;
      color: #34393f;
      font-family: "Open Sans";
      font-size: 31px;
      line-height: 46px;
      @media (max-width: 1360px) {
        width: 1026px;
        font-size: 22px;
        line-height: 40px;
      }
      @media (max-width:1190px) {
        width: 900px;
      }
      @media (max-width:1024px) {
        width: 80%;
      }
      @media (max-width:768px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  .header-content {
    width: 100%;
    h3 {
      width: calc(100% - 174px);
      font-family: "Open Sans Extra Bold";
      font-size: 62px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 10px auto;
      text-align: center;
      @media (max-width: 1360px) {
        font-size: 45px;
      }
      @media (max-width: 768px) {
        font-size: 40px;
      }
      @media (max-width: 576px) {
        font-size: 35px;
      }
    }
    p {
      width: calc(100% - 187px);
      font-family: "Open Sans Bold";
      font-size: 26px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #7a7a7a;
      margin: 16px auto;
      @media (max-width: 1360px) {
        font-size: 22px;
      }
      @media (max-width: 768px) {
        font-size: 20px;
      }
      @media (max-width: 576px) {
        font-size: 18px;
      }
    }
  }
  .trust-section {
    width: 100%;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 44px 0;
    margin: 0 auto;
    clip-path: polygon(
      52px 0,
      calc(100% - 52px) 0,
      calc(100% - 87px) 100%,
      87px 100%
    );
    @media (max-width:1360px) {
      padding: 15px 0 35px 0;
    }
    @media (max-width:1360px) {
      padding: 15px 0 20px 0;
    }
    .mark {
      margin-top: 5px;
      background: transparent;
      &-img {
        width: 24px;
      }
    }
  }
  .fees-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 49px 0 46px 0;
    @media (max-width: 1360px) {
      padding: 39px 0 35px 0;
    }
    @media (max-width: 1024px) {
      padding: 0;
      margin: 15px 0;
      width: 100%;
    }
    .fees-window {
      width: 61%;
      @media (max-width: 1440px) {
        width: 70%;
      }
      @media (max-width: 1024px) {
        width: 80%;
      }
      &-header {
        background: #323b42;
        color: white;
        padding: 27px 26px;
        border-radius: 6px 6px 0 0;
        @media (max-width: 768px) {
          padding: 20px;
        }
        .header-text {
          margin: 0;
          font-family: "Open Sans";
          font-size: 22px;
          letter-spacing: 1.3px;
          @media (max-width: 768px) {
            font-size: 18px;
          }
          span {
            font-family: "Open Sans Bold";
            font-size: 22px;
            @media (max-width: 768px) {
              font-size: 18px;
            }
          }
        }
      }
      &-content {
        text-align: center;
        padding-top: 14px;
        padding-bottom: 18px;
        border-bottom: 2px solid #676a6c;
        border-left: 2px solid #676a6c;
        border-right: 2px solid #676a6c;
        border-radius: 0 0 6px 6px;
        @media (max-width: 768px) {
          font-size: 18px;
        }
        .title-text {
          margin: 0 0 6px;
          font-family: "Open Sans Extra Bold";
          font-size: 25px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #313841;
          @media (max-width: 768px) {
            font-size: 20px;
          }
        }
        .content-text {
          margin: 0;
          font-family: "Open Sans";
          font-size: 26px;
          color: #313841;
          @media (max-width: 768px) {
            font-size: 20px;
          }
        }
      }
    }
  }
  .member-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f9f9f9;
    width: 96%;
    margin: auto;
    padding: 52px 0px 48px 0px;
    @media (max-width:1360px) {
      padding: 39px 0px 35px 0px;
    }
    @media (max-width: 1024px) {
      flex-direction: column;
      height: auto;
      padding: 24px 0 35px 0;
    }
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc((100%-120px) / 3);
      border-radius: 15px 15px 0px 0px;
      margin: 0 27.5px;
      border: none;
      background-color: #fafafc;
      @media (max-width: 1024px) {
        width: 90%;
        margin: 20px auto;
      }
      &-header {
        width: 100%;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Open Sans Bold";
        font-size: 30px;
        text-transform: uppercase;
        line-height: 42px;
        letter-spacing: 2px;
        text-align: center;
        background-color: white;
        border-radius: 15px 15px 0px 0px;
        border: none;
        @media (max-width:1360px) {
          font-size: 24px;
          height: 120px;
        }
      }
      &-content {
        height: calc(100% - 140px);
        border: none;
        color: #323b42;
        font-family: "Open Sans";
        font-size: 21px;
        line-height: 35px;
        text-align: center;
        padding: 20px 40px;
        @media (max-width:1360px) {
          height: calc(100% - 120px);
          font-size: 20px;
          padding: 10px 20px;
        }
      }
    }
  }
  .join-section {
    margin-top: 50px;
    width: 100%;
    @media (max-width:1360px) {
      margin-top: 35px;
    }
    &-header {
      background: #fafafa;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 20px 0 40px 0;
      clip-path: polygon(
        52px 0,
        calc(100% - 52px) 0,
        calc(100% - 87px) 100%,
        87px 100%
      );
      @media (max-width:1360px) {
        padding: 15px 0 35px 0;
      }
      .mark {
        margin-top: 5px;
        background: transparent;
        &-img {
          width: 24px;
        }
      }
    }
    .image-content {
      display: flex;
      justify-content: center;
      margin-top: 70px;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      @media (max-width:1360px) {
        margin-top: 20px;
      }
      img {
        width: 100%;
        height: 100%;
        max-width: 1375px;
      }
    }
    .card-section {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: auto;
      background: #fafafa;
      margin-top: 70px;
      padding: 50px 40px 0 40px;
      @media (max-width:1360px) {
        margin-top: 30px;
        padding: 35px 40px 0;
      }
      &-upper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;
        @media (max-width:1024px) {
          flex-direction: column;
          margin-bottom: 0;
        }
      }
      .card {
        display: flex;
        flex-direction: column;
        width: 28%;
        border-radius: 20px 20px 0 0;
        margin: 0 30px;
        background: white;
        border: none;
        @media (max-width:1360px) {
          width: 29%;
          margin: 0 20px;
        }
        @media (max-width:1024px) {
          width: 100%;
          height: auto;
          margin: 20px 0;
        }
        &-header {
          width: 100%;
          min-height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Open Sans Bold";
          font-size: 30px;
          text-transform: uppercase;
          border-radius: 20px 20px 0 0;
          background: white;
          border: none;
          @media (max-width:1360px) {
            min-height: 55px;
            font-size: 26px;
          }
          @media (max-width:1024px) {
            min-height: 60px;
            font-size: 30px;
          }
        }
        &-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 100px;
          background-color: #fafafc;
          min-height: 110px;
          @media (max-width:1360px) {
            min-height: 90px;
          }
          @media (max-width:1024px) {
            min-height: 100px;
          }
          img {
            width: 80px;
            @media (max-width:1360px) {
              width: auto;
            }
            @media (max-width:1024px) {
              width: auto;
            }
          }
        }
        &-title {
          text-align: center;
          padding: 0 30px 0 30px;
          border: none;
          p {
            font-family: "Open Sans Bold";
            font-size: 24px;
            margin: 10px 0 0 0;
            @media (max-width:1360px) {
              font-size: 20px;
            }
            @media (max-width:1024px) {
              font-size: 24px;
            }
          }
        }
        &-content {
          text-align: center;
          padding: 0 30px 0 30px;
          p {
            font-family: "Open Sans";
            font-size: 20px;
            color: #7a7a7a;
            margin: 20px 0;
            @media (max-width:1360px) {
              font-size: 16px;
              line-height: 22px;
              margin: 15px 0;
            }
            @media (max-width:1024px) {
              font-size: 20px;
              line-height: 30px;
              margin: 20px 0;
            }
          }
        }
      }
      &-lower {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 25px;
        margin-bottom: 50px;
        @media (max-width:1360px) {
          margin: 0 0 35px;
        }
        @media (max-width:1024px) {
          flex-direction: column;
          width: 100%;
          margin: 0;
        }
        &-content {
          width: calc(56% + 120px);
          display: flex;
          flex-direction: row;
          @media (max-width:1024px) {
            flex-direction: column;
            width: 100%;
          }
          .card {
            width: 50%;
            @media (max-width:1024px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .legal-section {
    margin-top: 50px;
    width: 100%;
    @media (max-width:1360px) {
      margin-top: 35px;
    }
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background: #fafafa;
      padding: 20px 0 44px 0;
      margin: 0 auto;
      clip-path: polygon(
        52px 0,
        calc(100% - 52px) 0,
        calc(100% - 87px) 100%,
        87px 100%
      );
      @media (max-width: 1360px) {
        padding: 15px 0 30px 0;
      }
      .mark {
        margin-top: 5px;
        background: transparent;
        &-img {
          width: 24px;
        }
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      .text-upper {
        width: 80%;
        color: #323b42;
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 40px;
      }
      span {
        font-family: "Open Sans";
        text-decoration: underline;
      }
      .text-lower {
        display: flex;
        flex-direction: row;
        width: 80%;
        color: #323b42;
        margin-bottom: 50px;
        justify-content: space-between;
        @media (max-width:1024px) {
          flex-direction: column;
          margin-bottom: 20px;
        }
        &-leftside {
          width: 47%;
          font-family: "Open Sans";
          font-size: 18px;
          line-height: 30px;
          margin-bottom: 40px;
          @media (max-width:1024px) {
            width: 100%;
          }
        }
        &-rightside {
          width: 47%;
          font-family: "Open Sans";
          font-size: 18px;
          line-height: 30px;
          margin-bottom: 40px;
          @media (max-width:1024px) {
            width: 100%;
          }
        }
      }
    }
    .collapsible_list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
    }
  }
  .footer {
    width: 100%;
    &-nav-bar {
      height: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: auto;
      background: #fafafc;
      padding: 0 95px;
      @media (max-width: 1440px) {
        height: 85px;
        padding: 0 50px;
      }
      @media (max-width: 1240px) {
        height: 85px;
        padding: 0;
      }
      @media (max-width: 1024px) {
        display: none;
      }
      a {
        color: #333a40;
        font-family: "Open Sans Bold";
        font-size: 14px;
        text-decoration: none;
        margin: 0 15px;
        text-transform: uppercase;
        text-align: center;
        @media (max-width: 1440px) {
          font-size: 12px;
        }
      }
    }
    &-text {
      display: flex;
      font-family: "Open Sans";
      align-items: center;
      justify-content: center;
      height: 50px;
      color: #dde2e6;
      background: #323b42;
    }
    p {
      margin: 0;
    }
  }
}

.color {
  &-green {
    color: #96c930;
  }
  &-black {
    color: #323b42;
  }
}
