.navbar-menu {
  display: none;
  @media (max-width: 1024px) {
    display: flex;
    width: 100%;
    .navbar {
      width: 100%;
    }
  }
}

.logo-section-img {
  display: flex;
  flex-direction: row;
  margin: 0 25px;
}