@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.bootstrap-container *,    
.bootstrap-container body, 
.bootstrap-container td, 
.bootstrap-container tr, 
.bootstrap-container div, 
.bootstrap-container p, 
.bootstrap-container form, 
.bootstrap-container input, 
.bootstrap-container select, 
.bootstrap-container textarea, 
.bootstrap-container font {
font-family: 'Open Sans', sans-serif !important;
}

.navbar-menu {
  display: none;
  @media (max-width: 1024px) {
    display: flex;
    width: 100%;
    .navbar {
      width: 100%;
    }
  }
}

.logo-section-img {
  display: flex;
  flex-direction: row;
  margin: 0 25px;
}